@charset "UTF-8";
::selection {
  color: #fff;
  background: #869F30;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.inner {
  width: 1364px;
  margin: 0 auto;
}

header {
  max-width: 1920px;
  height: 112px;
  margin: 0 auto;
}
header #top_cf {
  float: right;
  margin-top: 8px;
  margin-right: 278px;
}
header #top_cf li {
  display: inline-block;
  font-size: 15px;
  color: #4c4c4c;
  font-family: Pretendard-Medium;
}
header #top_cf li:first-child::after {
  content: "│";
  color: #222;
  font-family: Pretendard-Bold;
  margin-left: 12.5px;
}
header #top_cf .receipt_btn {
  color: #75AA64;
  border: 1.5px solid #75AA64;
  padding: 4px 8px;
  margin-left: 12.5px;
  font-family: Pretendard-Medium;
  font-size: 15px;
}
header #logo {
  float: left;
  margin-left: 278px;
  margin-top: 59px;
  margin-bottom: 36px;
}
header #gnb {
  float: left;
  margin-left: 110px;
  margin-top: 50px;
}
header #gnb li {
  float: left;
  position: relative;
  margin-right: 55px;
}
header #gnb li:last-child {
  margin-right: 0;
}
header #gnb a {
  font-size: 22px;
  font-family: Pretendard-SemiBold;
  color: #222;
  padding: 10px 26px 28px;
}
header #gnb li:nth-child(1) .sub {
  left: 26px;
}
header #gnb li:nth-child(2) .sub {
  left: 25px;
}
header #gnb li:nth-child(3) .sub {
  left: 26px;
}
header #gnb li:nth-child(4) .sub {
  left: 25px;
}
header #gnb li:nth-child(5) .sub {
  left: 27px;
  border: 0;
}
header #gnb .sub {
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  height: 290px;
  margin-top: 10px;
  padding-right: 26px;
  transition: all 0.4s;
  white-space: nowrap;
}
header #gnb .sub li {
  float: none;
  padding-bottom: 20px;
}
header #gnb .sub a {
  font-size: 16px;
  color: #222;
  font-weight: 500;
  padding: 0;
}
header #gnb .sub a::after {
  display: none;
}
header #gnb .sub a:hover {
  color: #869f30;
}
header #gnb:hover .sub {
  visibility: visible;
  opacity: 1;
}
header #gnb .sub_bg {
  position: absolute;
  width: 100%;
  height: 0px;
  top: 104px;
  left: 0;
  background: #fff;
  z-index: 100;
  transition: all 0.4s;
  visibility: hidden;
}
header #gnb:hover .sub_bg {
  height: 350px;
  transition: none;
  visibility: visible;
}
header #search {
  float: right;
  margin-top: 23px;
  margin-right: 278px;
}
header #search li {
  float: left;
}
header #search .give {
  background: linear-gradient(90deg, #97A836, #70AA67);
  padding: 12px 28px;
  border-radius: 20px;
  color: #fff;
  margin-left: 34px;
  font-size: 18px;
  margin-top: -4px;
  font-family: Pretendard-Bold;
}

@keyframes pulse {
  0% {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: -12px;
    left: -12px;
    bottom: -12px;
    right: -12px;
    opacity: 0;
  }
}
main {
  margin-top: 10px;
}
main #main_view {
  position: relative;
  overflow: hidden;
}
main #main_view .slider {
  display: flex;
  width: 100%;
  margin: 0 auto;
}
main #main_view .slider .view {
  width: 100%;
  flex-shrink: 0;
  position: relative;
}
main #main_view .slider .view img {
  width: 100%;
}
main #main_view .slider .text {
  color: #fff;
  position: absolute;
  top: 87px;
  left: 273px;
}
main #main_view .slider .text p {
  font-size: 20px;
  margin-bottom: 29px;
  font-family: Pretendard-Medium;
}
main #main_view .slider .text h3 {
  font-size: 37px;
  margin-bottom: 46px;
  font-family: Pretendard-Bold;
  line-height: 1.5;
}
main #main_view .slider .text h5 {
  font-size: 24px;
  margin-bottom: 46px;
  line-height: 1.5;
  font-family: Pretendard-SemiBold;
}
main #main_view .slider .text a {
  font-size: 20px;
  color: #000;
  font-family: Pretendard-Medium;
  background: #fff;
  padding: 16px 58px;
  border-radius: 50px;
  position: relative;
}
main #main_view .slider .text a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50px;
  border: 5px solid rgba(255, 255, 255, 0.5);
  opacity: 0;
}
main #main_view .slider .text a:hover::before {
  animation: pulse 1s infinite;
}
main #main_view .slider .control {
  position: absolute;
  right: 0;
  bottom: 77px;
  cursor: pointer;
}
main #main_view .slider .control div {
  display: inline-block;
  vertical-align: bottom;
}
main #main_view .slider .control .swiper-botton-prev {
  position: absolute;
  top: 50px;
}
main #main_view .slider .control .swiper-pagination {
  font-size: 26px;
  font-family: "Pretendard-Medium";
  margin: 0 20px;
  width: 49px;
}
main #main_view .donation-buttons {
  background-color: #8B7F79;
  z-index: 1;
}
main #main_view .donation-buttons ul {
  display: flex;
}
main #main_view .donation-buttons .give1 {
  font-size: 38px;
  font-family: Pretendard-Bold;
  background-color: #869F30;
  width: 676px;
  height: 127px;
  border-radius: 0 20px 20px 0;
  color: #fff;
}
main #main_view .donation-buttons .give1 a {
  margin-left: 271px;
  margin-top: 41px;
}
main #main_view .donation-buttons .give2 {
  font-size: 30px;
  font-family: Pretendard-Medium;
}
main #main2 {
  position: relative;
}
main #main2 .inner {
  overflow: hidden;
}
main #main2 .story_title h2 {
  font-size: 44px;
  text-align: center;
  margin-top: 140px;
  margin-bottom: 40px;
  font-family: Pretendard-Bold;
}
main #main2 .story_title p {
  text-align: center;
  font-size: 20px;
  font-family: Pretendard-Bold;
  margin-bottom: 67px;
}
main #main2 .story_content {
  display: flex;
}
main #main2 .story_content .s_item {
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main #main2 .story_content .s_box {
  width: 441px;
  height: 444px;
  border-radius: 20px;
  background: #fff;
}
main #main2 .story_content .s_box img {
  width: 441px;
  height: 349px;
  border-radius: 20px;
  object-fit: cover;
  cursor: pointer;
}
main #main2 .story_content li {
  margin-bottom: 35px;
  cursor: pointer;
}
main #main2 .story_content .story_text {
  font-size: 0;
}
main #main2 .story_content .story_text p {
  font-size: 18px;
  font-family: Pretendard-Medium;
  color: #777777;
  margin-top: 22px;
  margin-bottom: 15px;
}
main #main2 .story_content .story_text h4 {
  font-size: 20px;
  font-family: Pretendard-Bold;
  color: #222222;
}
main #main2 .s_plus {
  position: absolute;
  right: 43%;
  top: 18%;
}
main #banner {
  height: 577px;
  background: url("../images/banner1.png") no-repeat center center;
  background-size: cover;
  margin-top: 163px;
}
main #banner .main3 {
  position: relative;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
main #banner .main3 .b_text {
  text-align: center;
}
main #banner .main3 .b_text h2 {
  font-size: 44px;
  font-family: Pretendard-Medium;
  margin-bottom: 40px;
  color: #fff;
  padding-top: 52px;
}
main #banner .main3 .b_text h2 span {
  color: #C5E034;
}
main #banner .main3 .b_text p {
  font-size: 28px;
  font-family: Pretendard-Medium;
  color: #fff;
}
main #banner .main3 .b_text p span {
  color: #C5E034;
  font-size: 32px;
}
main #banner .main3 .button li {
  display: inline-block;
  font-size: 20px;
  font-family: Pretendard-Medium;
}
main #banner .main3 .button .button1 {
  background: #869F30;
  padding: 12px 34px;
  color: #fff;
  border-radius: 30px;
  margin-top: 47px;
  position: absolute;
  left: 782px;
}
main #banner .main3 .button .button2 {
  background: #869F30;
  padding: 12px 34px;
  color: #fff;
  border-radius: 30px;
  margin-top: 47px;
  position: absolute;
  right: 782px;
}
main #banner .main3 .b_icon li {
  display: inline-block;
  margin-top: 163px;
}
main #banner .main3 .b_icon li p {
  color: #fff;
  font-size: 16px;
  font-family: Pretendard-Medium;
}
main #banner2 {
  height: 1273px;
}
main #banner2 h2 {
  font-size: 44px;
  text-align: center;
  font-family: Pretendard-Bold;
  margin-top: 163px;
  line-height: 1.5;
}
main #banner2 h2 span {
  color: #869F30;
}
main #banner2 .main4 {
  position: relative;
}
main #banner2 .main4 .box1 {
  width: 621px;
  height: 374px;
  position: absolute;
  left: 0;
  top: 80px;
  background: url("../images/box2.jpg") no-repeat;
  background-size: cover;
  border: 1px solid #EAEAEA;
  border-radius: 20px;
}
main #banner2 .main4 .box1 h3 {
  font-size: 32px;
  font-family: Pretendard-Bold;
  margin-top: 35px;
  margin-left: 37px;
}
main #banner2 .main4 .box2 {
  width: 326px;
  height: 174px;
  position: absolute;
  left: 675px;
  top: 80px;
  background: url("../images/box4.jpg") no-repeat;
  background-size: cover;
  border-radius: 20px;
}
main #banner2 .main4 .box2 h4 {
  font-size: 25px;
  font-family: Pretendard-Bold;
  padding-top: 34px;
  margin-left: 34px;
}
main #banner2 .main4 .box3 {
  width: 326px;
  height: 174px;
  position: absolute;
  left: 675px;
  top: 280px;
  background: url("../images/box13.jpg") no-repeat;
  background-size: cover;
  border: 1px solid #eaeaea;
  border-radius: 20px;
}
main #banner2 .main4 .box3 h4 {
  font-size: 25px;
  font-family: Pretendard-Bold;
  padding-top: 34px;
  margin-left: 34px;
}
main #banner2 .main4 .box4 {
  width: 326px;
  height: 174px;
  position: absolute;
  right: 0;
  top: 280px;
  background: url("../images/box10.jpg") no-repeat;
  background-size: cover;
  border-radius: 20px;
}
main #banner2 .main4 .box5 {
  width: 461px;
  height: 174px;
  position: absolute;
  top: 471px;
  left: 160px;
  background: url("../images/box12.jpg") no-repeat;
  background-size: cover;
  border: 1px solid #eaeaea;
  border-radius: 20px;
}
main #banner2 .main4 .box5 h4 {
  font-size: 25px;
  font-family: Pretendard-Bold;
  padding-top: 34px;
  margin-left: 293px;
}
main #banner2 .main4 .box6 {
  width: 461px;
  height: 174px;
  position: absolute;
  top: 662px;
  left: 160px;
  background: url("../images/box9.jpg") no-repeat;
  background-size: cover;
  border-radius: 20px;
}
main #banner2 .main4 .box7 {
  width: 689px;
  height: 347px;
  position: absolute;
  right: 0;
  top: 490px;
  background: url("../images/box11.jpg") no-repeat;
  background-size: cover;
  border: 1px solid #eaeaea;
  border-radius: 20px;
}
main #banner2 .main4 .box7 h3 {
  font-size: 32px;
  font-family: Pretendard-Bold;
  margin-top: 35px;
  margin-left: 37px;
}
main #campaign {
  position: relative;
  margin: 0 auto;
  max-width: 1920px;
  height: 1070px;
  background-color: #B5BF7C;
}
main #campaign .campaign_title h2 {
  font-size: 44px;
  font-family: Pretendard-Bold;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
  padding-top: 71px;
}
main #campaign .campaign_title p {
  font-size: 20px;
  font-family: Pretendard-Bold;
  color: #fff;
  text-align: center;
  margin-bottom: 67px;
}
main #campaign .cp_box .c_item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main #campaign .cp_box .c_box {
  width: 444px;
  height: 350px;
  border-radius: 20px;
  background: #fff;
}
main #campaign .cp_box .c_box img {
  width: 444px;
  height: 253px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  cursor: pointer;
}
main #campaign .cp_box li {
  cursor: pointer;
  margin-bottom: 30px;
}
main #campaign .cp_box .c_text p {
  font-size: 18px;
  font-family: Pretendard-Medium;
  color: #777777;
  margin-top: 21px;
  margin-left: 25px;
}
main #campaign .cp_box .c_text h4 {
  font-size: 20px;
  font-family: Pretendard-Bold;
  color: #222222;
  margin-left: 25px;
  margin-top: 14px;
}
main #campaign .c_plus {
  position: absolute;
  right: 36.5%;
  top: 6.6%;
}
main #sponsor {
  max-width: 1364px;
  margin: 0 auto 100px;
  overflow: hidden;
  padding: 0 80px;
  position: relative;
}
main #sponsor h2 {
  margin-top: 160px;
  text-align: center;
  line-height: 1.5;
  font-size: 40px;
  font-family: Pretendard-Bold;
  margin-bottom: 65px;
}
main #sponsor h2 span {
  color: #869F30;
}
main #sponsor p {
  font-size: 23px;
  font-family: Pretendard-Medium;
}
main #sponsor .sponsor_box p:last-child {
  font-size: 18px;
  color: #4c4c4c !important;
  line-height: 1.4;
  padding-top: 10px;
  white-space: nowrap;
}
main #sponsor .sponsor_icon {
  transition: all 0.4s ease-in-out;
}
main #sponsor ul {
  margin-top: 50px;
  text-align: center;
  display: flex;
  font-weight: 600;
}
main #sponsor li {
  display: inline-block;
  font-size: 15px;
  color: #5A5555;
  flex-shrink: 0;
}
main #sponsor img {
  width: 164px;
  height: 148px;
  object-fit: contain;
  object-position: center center;
}
main #sponsor .sponsor_box .sponsor_icon {
  opacity: 0;
}
main #sponsor .sponsor_box .swiper-slide-prev {
  opacity: 1;
}
main #sponsor .sponsor_box .swiper-slide-prev img {
  opacity: 0;
}
main #sponsor .sponsor_box .swiper-slide-active {
  color: #A3B858;
  opacity: 1;
}
main #sponsor .sponsor_box .swiper-slide-active img {
  animation: opacity_visible 0.8s;
}
main #sponsor .sponsor_box .swiper-slide-active p {
  padding-top: 20px;
}
main #sponsor .sponsor_box .swiper-slide-next {
  opacity: 1;
}
main #sponsor .sponsor_box .swiper-slide-next img {
  opacity: 0;
}
@keyframes opacity_visible {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
main #sponsor .swiper-button-next {
  color: #666;
  position: absolute;
  top: 400px;
  right: 0px;
}
main #sponsor .swiper-button-prev {
  color: #666;
  position: absolute;
  top: 400px;
  left: 0px;
}
main #sponsor .sponsor_bar {
  width: 100%;
  margin: 0 auto;
  height: 4px;
  background: #BFBFBF;
  overflow: hidden;
  margin-top: 80px;
}
main #sponsor .sponsor_bar .swiper-slide-active {
  color: #A3B858;
}
main #sponsor .sponsor_bar span {
  width: 100%;
  height: 4px;
  background: #A3B858;
  display: block;
  transform-origin: left center;
}
main #sponsor #sponsor_list .list {
  margin-top: 15px;
}
main #sponsor #sponsor_list p {
  font-size: 17px;
}
main #sponsor #sponsor_list .active {
  color: #A3B858;
}
main #notice {
  background-color: #F9F7F3;
  position: relative;
  margin: 0 auto;
  max-width: 1920px;
  height: 350px;
}
main #notice h2 {
  font-size: 38px;
  font-family: Pretendard-Bold;
  padding-top: 167px;
}
main #notice .n_buttons li {
  display: inline-block;
  font-size: 24px;
  font-family: Pretendard-Medium;
  margin-top: 50px;
}
main #notice .n_buttons .b_1 {
  background: #869F30;
  color: #fff;
  padding: 11px 26px;
  border-radius: 20px;
  margin-right: 16px;
  margin-bottom: 49px;
}
main #notice .n_buttons .b_2 {
  background: #869F30;
  color: #fff;
  padding: 11px 26px;
  border-radius: 20px;
  margin-right: 16px;
}
main #notice .n_buttons .b_3 {
  background: #869F30;
  color: #fff;
  padding: 11px 26px;
  border-radius: 20px;
}
main #notice .n_content {
  cursor: pointer;
}
main #notice .n_content .n_box {
  width: 1363px;
  height: 110px;
  border: 1px solid #707070;
  border-radius: 10px;
  background: #fff;
}
main #notice .n_content li {
  margin-bottom: 20px;
  line-height: 110px;
}
main #notice .n_content .nc {
  font-size: 20px;
  margin-right: 47px;
  float: left;
  margin-left: 36px;
  font-family: Pretendard-Medium;
  color: #869F30;
}
main #notice .n_content h3 {
  float: left;
  font-size: 22px;
  font-family: Pretendard-Medium;
  margin-right: 337px;
}
main #notice .n_content p {
  float: right;
  color: #666666;
  font-size: 20px;
  font-family: Pretendard-Medium;
  margin-right: 21px;
}
main #notice .n_plus {
  position: absolute;
  left: 26%;
  top: 47.5%;
}